header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3a4887;
    background-color: #ffc000;
}

p {
    text-align: justify;
    text-justify: inter-word;
  }
header h1 {
text-align: left;
font-size: 50px;
font-style: initial;
margin-bottom: 5px;
}
header nav {
    margin: 6px 0;
    text-align: left;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
header nav ul li a {
    margin: 0 25px;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin-right: 4px;
    color: #000104;
    font-style: none;
    text-decoration: none;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body {
    color: #000104;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(237, 241, 253);
      }
section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 30%;
}
section h2 {
    text-align: center;
    font-style: bold;
    font-size: 40px;
    margin-bottom: 30px;
    text-decoration-line: underline;
}
section p{
    text-align: center;
}
.primary-border {
    border-color: var(--primary-color);
}